In [165]:
import pandas as pd

In [166]:
df=pd.read_csv("C:/Users/91814/OneDrive/Desktop/fake_job_postings.csv")

In [167]:
df

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17878,17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [168]:
df.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [170]:
df.duplicated().sum()

0

In [171]:
df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2696
benefits                7212
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [172]:
df.shape

(17880, 18)

In [173]:
location = df["location"].str.split(",")

In [174]:
df[["Country","State","City"]] = df["location"].str.split(",",n=2,expand=True)

In [175]:
df = df.drop(columns = "location")

In [176]:
df

,job_id,title,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,Country,State,City
0,1,Marketing Intern,Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,US,NY,New York
1,2,Customer Service - Cloud Video Production,Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,NZ,,Auckland
2,3,Commissioning Machinery Assistant (CMA),NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0,US,IA,Wever
3,4,Account Executive - Washington DC,Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,US,DC,Washington
4,5,Bill Review Manager,NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,US,FL,Fort Worth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0,CA,ON,Toronto
17876,17877,Payroll Accountant,Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0,US,PA,Philadelphia
17877,17878,Project Cost Control Staff Engineer - Cost Con...,NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0,US,TX,Houston
17878,17879,Graphic Designer,NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0,NG,LA,Lagos
17879,17880,Web Application Developers,Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0,NZ,N,Wellington

In [177]:
df["salary_range"].value_counts()

salary_range
0-0            142
40000-50000     66
30000-40000     55
25000-30000     37
45000-67000     37
              ...
15-25            1
60-75            1
27500-36000      1
20-22            1
3700-3800        1
Name: count, Length: 874, dtype: int64

In [178]:
df.isnull().sum()

job_id                     0
title                      0
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2696
benefits                7212
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
Country                  346
State                    440
City                     440
dtype: int64

In [179]:
df[["min_salary","max_salalry"]] = df["salary_range"].str.split("-",n=1,expand=True)

In [180]:
df = df.drop(columns = "salary_range")

In [181]:
df["min_salary"].value_counts()

min_salary
40000     195
0         195
30000     181
50000     152
45000     127
         ...
24          1
14400       1
318278      1
24900       1
3700        1
Name: count, Length: 244, dtype: int64

In [182]:
df["max_salalry"].value_counts()

max_salalry
50000      168
0          142
100000     124
40000      116
80000      113
          ...
8582080      1
62400        1
4000000      1
92000        1
3800         1
Name: count, Length: 278, dtype: int64

In [183]:
df.dtypes

job_id                  int64
title                  object
department             object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
Country                object
State                  object
City                   object
min_salary             object
max_salalry            object
dtype: object

In [184]:
df["telecommuting"].value_counts()

telecommuting
0    17113
1      767
Name: count, dtype: int64

In [185]:
df["has_company_logo"].value_counts()

has_company_logo
1    14220
0     3660
Name: count, dtype: int64

In [186]:
df.isnull().sum()

job_id                     0
title                      0
department             11547
company_profile         3308
description                1
requirements            2696
benefits                7212
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
Country                  346
State                    440
City                     440
min_salary             15012
max_salalry            15013
dtype: int64

In [187]:
# missing values in missing columns will be assigned none
df['Country'] = df['Country'].fillna('none')

In [188]:
df['State'] = df['State'].fillna('none')

In [189]:
df['City'] = df['City'].fillna('none')

In [190]:
df['department'] = df['department'].fillna('none')

In [191]:
df['company_profile'] = df['company_profile'].fillna('none')

In [192]:
df['description'] = df['description'].fillna('none')

In [193]:
df['requirements'] = df['requirements'].fillna('none')

In [194]:
df['benefits'] = df['benefits'].fillna('none')

In [195]:
df['employment_type'] = df['employment_type'].fillna('none')

In [196]:
df['required_experience'] = df['required_experience'].fillna('none')

In [197]:
df['required_education'] = df['required_education'].fillna('none')

In [198]:
df['industry'] = df['industry'].fillna('none')

In [199]:
df['function'] = df['function'].fillna('none')

In [200]:
df['min_salary'] = df['min_salary'].fillna('none')

In [201]:
df['max_salalry'] = df['max_salalry'].fillna('none')

In [202]:
df['employment_type'] = df['employment_type'].mask(lambda x : x =='', other = 'none')

In [241]:
df.isnull().sum()

job_id                 0
title                  0
department             0
company_profile        0
description            0
requirements           0
benefits               0
telecommuting          0
has_company_logo       0
has_questions          0
employment_type        0
required_experience    0
required_education     0
industry               0
function               0
fraudulent             0
Country                0
State                  0
City                   0
min_salary             0
max_salalry            0
dtype: int64

In [52]:
#pip install sqlalchemy

In [53]:
#pip install mysql-connector-python

In [54]:
from sqlalchemy import create_engine

In [55]:
import urllib.parse

In [99]:
# MySQL connection details
# username = "root"
# password = urllib.parse.quote_plus("Charan@8143")  # Replace with your MySQL password
# host = "localhost"       # Use "localhost" if MySQL is on your machine
# port = "3306"            # Default MySQL port
# database_name = "Fake_Job_Detection" # Database name in MYSQL

In [101]:
# Create the engine
# engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database_name}")

In [103]:
# Set chunk size (adjust based on memory limits)
# chunk_size = 100

In [105]:
# Upload in chunks
# for i in range(0, len(df), chunk_size):
    # df.iloc[i:i+chunk_size].to_sql('Jobs_Details', con=engine, if_exists='append', index=False)
    # print(f"Uploaded chunk {i} to {i+chunk_size}")

In [3]:
import gc
gc.collect()

0

In [3]:
#pip install sqlalchemy pymysql psycopg2 pandas

In [11]:
from sqlalchemy import create_engine


# MySQL connection details
username = "root"
password = urllib.parse.quote_plus("Charan@8143")  # Replace with your MySQL password
host = "localhost"       # Use "localhost" if MySQL is on your machine
port = "3306"            # Default MySQL port
database = "Fake_Job_Detection" # Database name in MYSQL

# Create an engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# Test connection
connection = engine.connect()
print("Connected successfully!")
connection.close()

Connected successfully!

In [107]:
df.to_sql(name="Job_Description", con=engine, if_exists="replace", index=False)

C:\Users\91814\AppData\Local\Temp\ipykernel_14564\3039596422.py:1: UserWarning: The provided table name 'Job_Description' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name="Job_Description", con=engine, if_exists="replace", index=False)

17880

In [111]:
df.shape

(17880, 21)

In [245]:
df.to_csv("Job_posting_Fake_Detection.csv",index=False)